# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore node_module
node_modules/

# Ignore vite configuration files
vite.congif.js

# Ignore ESLint configuration files
.eslintrc
.eslintrc.js
.eslintrc.json
.eslintrc.yml
.eslintignore